*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 50px;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
}

.navbar ul li{
  list-style: none;
  margin-right: 40px;
  margin-top: 10px;
}

.navbar ul li:hover{
  cursor: pointer;
}

.navbar ul li i{
  font-size: 50px;
}
